body{
    font-family: Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f4f4f4;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input, select{
    margin:10px;
    padding:8px;
}

.resultado{
    font-size:22px;
    margin-top:15px;
}